<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h2>Input file</h2>
    <form action="/form" name="form-submit" enctype="multipart/form-data" method="post">
      <input type="text" name="name" placeholder="type your text here...">
      <input type="number" name="number" placeholder="type your contact number here...">
      <input type="email" name="email" placeholder="type your email here...">
      <input type="submit" value="submit">
    </form>  
    <form action="/file" name="file-upload" enctype="multipart/form-data" method="post">
      <input type="file" name="file-to-upload">
      <input type="submit" value="Upload">
    </form>  
  </body>
</html>
