<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h3>Name  <%= username%></h3>
    <h3>Number  <%= number%></h3>
    <h3>Email  <%= email%></h3>
    <a href="/">back</a>
  </body>
</html>
